/* Google style buttons */

button.g-button, input.g-button[type="submit"] {
    height: 29px;
    line-height: 29px;
    margin: 0;
    vertical-align: bottom;
}

.g-button {
    -moz-user-select: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid #DCDCDC;
    border-radius: 4px 4px 4px 4px;
    color: #444444;
    cursor: default;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    min-width: 50px;
    padding: 0 8px;
    text-align: center;
    transition: all 0.218s ease 0s;
}

.g-button:hover {
    background-color: #F8F8F8;
    background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
    border: 1px solid #C6C6C6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #333333;
    text-decoration: none;
    transition: all 0s ease 0s;
}
.g-button:active {
    background-color: #F6F6F6;
    background-image: -moz-linear-gradient(center top , #F6F6F6, #F1F1F1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.g-button:visited {
    color: #666666;
}

.g-button-submit {
    background-color: #265CB3;
    background-image: -moz-linear-gradient(center top , #265CB3, #265CB3);
    border: 1px solid #3079ED;
    color: #F1F1F1;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.g-button-submit:hover {
    background-color: #357AE8;
    background-image: -moz-linear-gradient(center top , #4D90FE, #357AE8);
    border: 1px solid #2F5BB7;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.g-button-submit:active {
    background-color: #357AE8;
    background-image: -moz-linear-gradient(center top , #4D90FE, #357AE8);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
