.content-right{
	width: 680px;
	min-height: 200px;
	overflow: hidden;
	margin: 20px 0px 20px 0px;
	float: right;
	color: #504F4F;
}

.content-left{
	width: 248px;
	min-height: 200px;
	overflow: hidden;
	margin: 20px auto 20px 0px;
	float: left;
}

.container{
	margin: 0 auto;
    min-height: 200px;
    overflow: hidden;
    width: 960px;
}

/* IMAGENES DENTRO DEL CONTENT RIGHT */

.content-left img{
	width: 240px;
	margin-top: 25px;
	border: solid 4px #FFFFFF;
}

.content-left a.brand {
    padding: 6px 15px;
    background-color: #FFFFE0;
    border: solid 1px #C69C6D;
    display: block;
    margin: 10px 0px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 2px 2px 1px #A9A9A9;
    line-height: 40px;
    color: #2F5BB7;
    overflow: hidden;
}

a.brand:hover {
    color: #C69C6D;
    text-decoration: none;
}

.content-left a.brand img {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0 !important;
    border: none !important;
    display: inline-block;
    float: left;
}

h2{
	font-size: 16pt;
	color: #504F4F;
	margin: 20px auto 0px auto;
}

i {
	font-style: normal;
}

.blue{
	color: #265CB3;
}

.bblue{
	color: #265CB3;
	font-weight: bold;
}

.iblue{
	color: #265CB3;
	font-style: italic;
}

ul.requirements{
	color: #504F4F;
	font-size: 10pt;
	list-style: square inside none;
	margin-left: 50px;
}

ul.requirements li{
	margin: 10px auto;
}
